@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

/************************
Setting Custom Properties 
**************************/
:root {
    /* Colours */
    /* Primary Colours */
    --c-primary-one: hsl(7, 99%, 70%);
    --c-primary-two: hsl(51, 100%, 49%);
    --c-primary-three: hsl(167, 40%, 24%);
    --c-primary-four: hsl(198, 62%, 26%);
    --c-primary-five:  hsl(168, 34%, 41%);

    /* Neutral Colours */
    --c-white: hsl(0, 0%, 100%);
    --c-neutral-one: hsl(210, 4%, 67%);
    --c-neutral-two: hsl(232, 10%, 55%);
    --c-neutral-three: hsl(213, 9%, 39%);
    --c-neutral-four: hsl(212, 27%, 19%);

    /* Font family */
    --ff-primary: 'Fraunces', serif;
    --ff-secondary: 'Barlow', sans-serif;

    --ff-heading: var(--ff-primary);
    --ff-body: var(--ff-secondary);

    /* Font Weights */
    --fw-regular: 600;
    --fw-bold: 700;
    --fw-extra-bold: 900;

    /* Font Sizes */
    --fs-body: clamp(0.94rem, 0.88rem + 0.27vw, 1.13rem);
    --fs-h2: clamp(1.35rem, 1.23rem + 0.58vw, 1.76rem);
    --fs-h1: clamp(1.94rem, 1.71rem + 1.15vw, 2.75rem);
}

/**************
Utility Classes
***************/
/*Text Colours */
.text-white {color: var(--c-white);}
.text-neutral-one {color: var(--c-neutral-one);}
.text-neutral-two {color: var(--c-neutral-two);}
.text-neutral-three {color: var(--c-neutral-three);}
.text-neutral-four {color: var(--c-neutral-four);}

.text-primary-one {color: var(--c-primary-one);}
.text-primary-three {color: var(--c-primary-three);}

/* Background Colours */
.bg-white {background-color: var(--c-white);}
.bg-neutral-one {background-color: var(--c-neutral-one);}


/* Font Weights */
.fw-regular {font-weight: 600;}
.fw-semi-bold {font-weight: 700;}
.fw-bold {font-weight: 900;}

/* Font families */
.ff-primary {font-family: 'Fraunces', serif;} 
.ff-secondary {font-family: 'Barlow', sans-serif;} 

.list-style-none {list-style-type: none;}

/* Padding & Margin */
.center-x {margin-inline: auto;}
.center-y {margin-block: auto;}

/* More text utility classes */
.uppercase {text-transform: uppercase;}
.text-center {text-align: center;}
.letter-spacing-large {letter-spacing: .2em;}

/**************
Element Styling
***************/
html {font-size: 18px;}
h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-extra-bold);
}
h2 {
    color: var(--c-neutral-four);
    font-size: var(--fs-h2);
    font-weight: var(--fw-extra-bold);
}
h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}
h1, h2, h3 {font-family: var(--ff-heading);}
body {
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    font-family: var(--ff-body);
}
p:not([class]) {color: var(--c-neutral-two);}
a {
    text-decoration: none;
    color: inherit;
}

:where(.flow > :not(:first-child)) {
    margin-top: var(--flow-spacer, 1.4rem);
}

/***************
Specific Styling
****************/

/* Navigation bar */
.logo--footer {filter: invert(28%) sepia(21%) saturate(971%) hue-rotate(116deg) 
                        brightness(92%) contrast(91%);}

.main-nav, .main-nav__links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-nav {justify-content: space-between;}

.main-nav__links {
    margin: 0;
    padding: 0;

    gap: 2rem;
}

.main-nav__links--hide {display: flex;}


.main-nav__button {    
    background-color: var(--c-white);
    color: var(--c-neutral-four);

    border: none;
    border-radius: 1.5rem;
    padding: 0.75rem 1.5rem;

    font-size: 0.8rem;

    transition: all .15s;
}

button.main-nav__hamburger {
    border: none;
    background: none;
}

#arrow {
    position: relative;
    animation: 4s float ease-in-out 0s infinite alternate;
}

@keyframes float {
    from, to {transform: translateY(0);}
    50% {transform: translateY(6vh);}
}

/* Header */
.main-header {
    width: 100%;
    height: 100vh;

    padding-inline: 1.5rem;
    padding-top: 1.5rem;
    background-image: url(../images/mobile/image-header.jpg);
    background-position: center;
    background-size: cover;
}

@media (min-width: 750px) {
    .main-header {
        background-image: url(../images/desktop/image-header.jpg);
    }
    .main-nav__hamburger {display: none;}

    .main-nav__button:hover {
        color: var(--c-white);
        background-color: rgba(255, 255, 255, 0.45);
    }
    
}

@media (max-width: 750px) {
    ul.main-nav__links {
        position: absolute;
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
        
        width: calc(100% - 3rem);
        padding-block: 1rem;

        flex-direction: column;
        gap: 0;

        background-color: var(--c-white);
        box-shadow: 0.3rem 0.3rem 0.2rem var(--c-primary-five);

        z-index: 999999;
    }

    .main-nav__links::after {
        content: "";
        width: 0%;
        height: 0%;
        position: absolute;
        bottom: calc(100% - 1rem);
        right: 0;
        background: none;

        border-top: 1rem inset transparent;
        border-bottom: 1rem inset transparent;
        border-right: 1rem inset var(--c-white);
    }
    
    ul.main-nav__links a {
        color: var(--c-neutral-two);
        font-size: 1.1rem;
    }

    ul.main-nav__links li {padding-block: 1rem;}

    .main-nav__button {background-color: var(--c-primary-two);}

    .main-nav__links--hide {display: none;}
    .main-nav__links--show {display: flex;}
}


/********
Main Grid
*********/
.main-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.text-container {
    max-width: 32rem;
    text-align: center;
    padding: 3.75rem 2.25rem;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-wrapper img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.learn-more {position: relative;}

.learn-more::after {
    position: absolute;
    content: "";
    top: 75%;
    left: 0;
    width: 100%;
    height: 0.4em;
    border-radius: 0.5em;
    z-index: -999;
    opacity: 0.4;
    transition: all .2s;
}
.learn-more--cp1::after {background-color: var(--c-primary-one);}
.learn-more--cp2::after {background-color: var(--c-primary-two);}

.learn-more:hover::after {
    opacity: 1;
    height: 0.45em;
}
.text-over-img-container {position: relative;}
.text-over-img {
    position: absolute; 
    bottom: 12%; 
    left: 50%; 
    width: 100%; 
    transform: translateX(-50%);

    padding-inline: 1rem;
}

.text-over-img-header {font-size: clamp(1rem, 1rem + 2vw, 3rem);}
.text-over-img-body {font-size: clamp(0.8rem, 0.8rem + 1vw, 2.5rem);}


@media (min-width: 750px) {
    .main-grid {
        grid-template-columns: 1fr 1fr;
    }

    .main-grid > *:first-child {
        grid-column: 2 / 3;
    }

    .main-grid > *:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .text-container {
        text-align: left;
        max-width: 51ch;
    }

    #photography {content: url(../images/desktop/image-photography.jpg);}
    #graphic-design {content: url(../images/desktop/image-graphic-design.jpg);}
    .text-over-img {
        max-width: 25rem;
        bottom: 10%; 
    }

    .text-over-img-header {font-size: clamp(1rem, 2.8vw, 3rem);}
    .text-over-img-body {font-size: clamp(0.7rem, 0.4rem + 0.75vw, 1.8rem);}
}

/******************
Client Testimonials
*******************/
.testimonials-section {
    padding: 8.5rem 2rem;
}

.testimonial {
    --flow-spacer: 2rem;
    height: 100%;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    max-width: 500px;
}

.testimonial__img-wrapper {
    width: 3rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden
}

.testimonial__img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.testimonial__body {font-size: clamp(0.87rem, 0.9rem + 0.2vw, 1.1rem)}

@media (min-width: 950px) {
    .testimonials-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        max-width: 1100px;
    }
}

.img-gallery-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (min-width: 800px) {
    .img-gallery-grid {grid-template-columns: repeat(4, 1fr);}

    #milk-bottles {content: url(../images/desktop/image-gallery-milkbottles.jpg);}
    #orange {content: url(../images/desktop/image-gallery-orange.jpg);}
    #cone {content: url(../images/desktop/image-gallery-cone.jpg);}
    #sugar-cubes {content: url(../images/desktop/image-gallery-sugarcubes.jpg);}
}

/******
Footer
*******/
.footer {padding-block: 3rem;}

.footer__nav * {display: inline-block;}
.footer__nav *:not(:first-child) {margin-left: 1rem;}

.footer__social-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.footer__nav *:hover {color: var(--c-white);}
.footer__social-links a:hover object {filter: brightness(0) invert(1);}

.logo--header {filter: invert(100%) brightness(98%)}